# Mac files
.DS_Store
Icon?

# Python Library
pytorch3d/*

# Brush app
brush-app-aarch64-apple-darwin/*
3DGS/*.xz
3DGS/brush-app-x86_64-unknown-linux-gnu/*

# Other
paper/*
report/*
data/*
test/*
result/3Dmodel/*
result/mv_image/*